.persons {
  padding: 37px 1em 5em 1em;
  background-color: #2b83ff;
  color: #e6e6e6;
  align-items: center;
  display: flex;
  max-width: 800px;
  margin: auto;
}

.person {
  margin: auto;
  max-width: 300px;
}
