.quote-block {
  top: 30px;
  padding-left: 70px;
  z-index: 999;
  position: absolute;
  color: white;
  //text-align: right;
  max-width: 550px;

  .quote {
    line-height: 1.1em;
    font-size: 3em;
    text-align: left;
  }

  .signature {
    line-height: 1.1em;
    font-size: 1.2em;
    text-align: left;
  }
}