.copyright {
  text-align: center;
}

.container {
  //padding: 37px 1em 5em 1em;
  background-color: #1f1f1f;
  color: #e6e6e6;
  align-items: center;

  .data {
    max-width: 800px;
    margin: auto;
  }
}
